.content {
    width: 100%;
    height: calc(100vh - 80px);
}

#temperaturecharts {
    float: left; 
    top:27%;
    height: 50%;
    width: 30%;
    bottom: 40%;
    left: 3%;
}

#regionCharts{
    float: right; 
    top:20%;
    right: 15%;
    height: 50%;
    width: 30%;
    bottom: 40%;
}

